/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
  /* margin-bottom: 2.4rem; */
  letter-spacing: -1px;
}

h2 {
  font-size: 3.4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.7px;
}

p {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 0.7px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.margin-btm {
  margin-bottom: 2.4rem;
}

.hidden {
  display: none;
}

.overlay {
  z-index: 9999;
}

/* HEADER SECTION */

.header {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/listening-music.jpg");
  background-size: cover;
  padding: 4.8rem 0;
}

.main-nav-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
}

.logo img {
  width: 4.4rem;
  margin-right: 1rem;
}

.logo-container {
  display: flex;
}

.logo-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo-link-container p {
  font-size: 2.8rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  list-style: none;
}

.nav-list li a:link,
.nav-list li a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.nav-list li a:hover,
.nav-list li a:active {
  color: #9ca3af;
}

.header-body {
  /* background-color: antiquewhite; */
  height: 45rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.download-spotify-container {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.btn-container {
  display: flex;
  gap: 2.4rem;
}

.header-text .btn-container button:nth-child(2) {
  color: #18181b;
  background-color: #fff;
  transition: all 0.5s;
}

.header-text .btn-container button:nth-child(2):hover,
.header-text .btn-container button:nth-child(2):hover:active {
  background-color: #cbd5e1;
  transform: translateY(-0.2rem);
}

.header-text button {
  padding: 1rem 3.2rem;
  background-color: #18181b;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  margin-top: 4.4rem;
  transition: all 0.5s;
}

.header-text button:hover,
.header-text button:active {
  background-color: #242425;
  transform: translateY(-0.2rem);
}

.download-icon {
  height: 4.4rem;
  width: 4.4rem;
}

.close-open-container {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.close-open-container-hidden {
  display: none;
}

/* STICKY NAVIGATION */

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;

  background-color: rgba(65, 63, 63, 0.9);
  /* background-color: rgb(203, 213, 225); */
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
}

/* PREMIUM SECTION */
.premium-section {
  background-color: #f3f4f6;
  padding: 6.8rem 0;
  color: #18181b;
}

.premium-section h1 {
  text-align: center;
}

.number {
  font-size: 7.4rem;
  color: #d1d5db;
  font-weight: 700;
}

.premium-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12.8rem;
}

.premium-body {
  background-color: #fff;
  width: 80rem;
  padding: 2.4rem 4.4rem;
  border-radius: 9px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  margin-top: 7.4rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.premium-turn-right:hover,
.premium-turn-right:active {
  transform: translateX(3rem);
}

.premium-turn-left:hover,
.premium-turn-left:active {
  transform: translateX(-3rem);
}

.premium-body::after {
  content: "Best Offer";
  position: absolute;
  top: 50px;
  right: -85px;
  text-transform: uppercase;
  transform: rotate(45deg);
  background-color: #18181b;
  color: #fff;
  padding: 0.6rem 9.8rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.premium-body h2 {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.premium-body button {
  padding: 1rem 3.2rem;
  background-color: #18181b;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-top: 4.4rem;
  transition: all 0.5s;
}

.premium-body button:hover,
.premium-body button:active {
  background-color: #39393b;
  transform: translateY(-0.2rem);
}

.premium-body .btn-container button:nth-child(2) {
  color: #fff;
  background-color: #4b5563;
}

.premium-body .btn-container button:nth-child(2):hover,
.premium-body .btn-container button:nth-child(2):active {
  background-color: #64748b;
  transform: translateY(-0.2rem);
}

.terms-condition {
  text-align: center;
  margin-top: 7.4rem;
}

.terms-condition-link:link,
.terms-condition-link:visited {
  color: #4b5563;
}

.terms-condition-link:hover,
.terms-condition-link:active {
  text-decoration: none;
}

.premium-icons {
  width: 100%;
  margin-top: 7.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.premium-icons .icon img {
  width: 100px;
  background-color: #d1d5db;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 4.8rem;
}

.premium-content {
  text-align: center;
}

/* SUPPORT SECTION */
.support-section {
  background-color: #18181b;
  padding: 6.8rem 0;
  color: #fff;
}

.support-section h1 {
  text-align: center;
}

.support-body-container {
  margin-top: 7.4rem;
  margin-bottom: 12.8rem;
}

.input-search {
  width: 70%;
  border: 3px solid #fff;
  background: transparent;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #fff;
  font-size: 1.8rem;
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

::-moz-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 7.4rem;
}

.input-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-170px);
  cursor: pointer;
  width: 12rem;
  height: 5.5rem;
  background-color: #fff;
  border-radius: 5rem;
  border: none;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
}

.support-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.support-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-options p {
  text-align: center;
}

.support-options a:link,
.support-options a:visited {
  color: white;
}

.support-options a:hover,
.support-options a:active {
  text-decoration: none;
}

.support-image {
  width: 9rem;
  margin-bottom: 4.8rem;
}

.visit-community-container {
  text-align: center;
}

.visit-community-container button {
  padding: 1rem 3.2rem;
  background-color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: #18181b;
  margin-top: 4.4rem;
  transition: all 0.5s;
}

.visit-community-container button:hover,
.visit-community-container button:active {
  background-color: #cbd5e1;
  transform: translateY(-0.2rem);
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  background-color: #f3f4f6;
  padding: 6.8rem 0;
  color: #18181b;
}

.testimonial-section p {
  font-size: 1.6rem;
}

.testimonial-section-container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.testimonial-section-container h1 {
  text-align: center;
  margin-bottom: 7.6rem;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.8rem;
  align-items: center;
}

.testimonial img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
  margin-top: 2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.8rem;
  column-gap: 2.8rem;
}

.gadgets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.gadget {
  overflow: hidden;
}

.gadget img {
  width: 100%;
  height: 18rem;
  transition: all 0.4s;
}

.gadget img:hover,
.gadget img:active {
  transform: scale(1.1);
}

.testimonial-name {
  color: #9ca3af;
  font-weight: 500;
}

/* DOWNLOAD SECTION */

.download-section {
  background-color: #18181b;
  padding: 6.8rem 0;
  color: #fff;
  text-align: center;
}

.download-section h1 {
  margin-bottom: 7.6rem;
}

.download-container img {
  margin-bottom: 4.8rem;
  width: 13rem;
}

.download-container h2 {
  margin-bottom: 3.8rem;
}

.download-container button {
  padding: 1rem 3.2rem;
  background-color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: #18181b;
  margin-top: 4.4rem;
  transition: all 0.5s;
}

.download-container button:hover,
.download-container button:active {
  background-color: #cbd5e1;
  transform: translateY(-0.2rem);
}

/* FOOTER SECTION */
footer {
  background-color: #f3f4f6;
  padding: 4.8rem 0;
  color: #18181b;
}

.footer-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-contents li {
  list-style: none;
}

.footer-contents li:nth-child(1) {
  font-weight: bold;
}

.footer-contents ul {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer-contents a:link,
.footer-contents a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #4b5563;
  transition: all 0.3s;
}

.footer-contents a:hover,
.footer-contents a:active {
  color: #9ca3af;
}

.sub-footer-content-1 {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 2rem;
}

.sub-footer-content-2 {
  display: flex;
  gap: 1rem;
}

.header-link {
  font-size: 1.6rem;
  color: #4b5563;
}

.footer-logo img {
  width: 3.4rem;
  height: 3.4rem;
}

.sub-footer-content-2 img {
  width: 2.4rem;
  height: 2.4rem;
}

.footer-logo {
  display: grid;
  grid-template-columns: 1fr;
}

.all-rights-reserved-text-container p {
  font-size: 1.6rem;
  color: #4b5563;
  margin-top: 2.4rem;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }

  .header-body {
    height: 45rem;
  }
}

@media (max-width: 1089px) {
  html {
    font-size: 54%;
  }

  .premium-body::after {
    top: 39px;
    right: -85px;
  }
}

@media (max-width: 1032px) {
  html {
    font-size: 54%;
  }

  .support-options {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10.4rem;
    padding: 0 8rem;
  }
}

@media (max-width: 962px) {
  .header-body {
    grid-template-columns: 1fr;
    height: 48rem;
  }

  .placeholder-for-column {
    display: none;
  }

  .header-text {
    text-align: center;
  }

  .btn-header-container {
    justify-content: center;
  }

  .download-spotify-container {
    justify-content: center;
  }
}

/* MOBILE NAVIGATION */

@media (max-width: 944px) {
  html {
    font-size: 48%;
  }

  .close-open-container-hidden {
    display: block;
    z-index: 99999;
  }

  .bar-sub-container,
  .close-sub-container {
    cursor: pointer;
  }

  .nav-list {
    background-color: rgba(65, 63, 63, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    /* transform: translateX(100%); */

    display: flex;
    flex-direction: column;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .premium-body::after {
    top: 39px;
    right: -66px;
  }

  .premium-icons {
    grid-template-columns: 1fr 1fr;
    row-gap: 10.4rem;
    padding: 0 8rem;
  }

  .premium-icons .icon img {
    width: 9rem;
  }
}

@media (max-width: 780px) {
  .premium-body {
    width: 85%;
  }

  .testimonial-container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .gadgets {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1;
    row-gap: 1;
  }

  .download-container img {
    width: 13.8rem;
  }
}

@media (max-width: 695px) {
  html {
    font-size: 42%;
  }

  .header-body {
    height: 60rem;
  }

  .premium-body::after {
    top: 39px;
    right: -59px;
  }
}

@media (max-width: 585px) {
  .premium-icons {
    padding: 0 2rem;
  }

  .support-options {
    padding: 0 2rem;
  }
}

@media (max-width: 565px) {
  html {
    font-size: 38%;
  }

  .header-body {
    height: 75rem;
  }

  .premium-body::after {
    top: 28px;
    right: -59px;
  }

  .gadget {
    height: 14rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 33%;
  }

  .header-body {
    height: 90rem;
  }

  .premium-body::after {
    top: 27px;
    right: -48px;
  }
}

@media (max-width: 435px) {
  html {
    font-size: 29%;
  }

  .header-body {
    height: 100rem;
  }

  .footer-contents {
    grid-template-columns: 1fr 1fr;
    gap: 3.8rem;
    margin-bottom: 5.4rem;
  }
}
